
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
}

.menu{
    list-style:none;
    float:left;
}

.menu li{
    position:relative;
    float:left;
    color: black;
}

a:visited{
    color: black;  
}
